jobs:
  build:
    runs-on: ubuntu-18.04 # Fred uses 20.04
    steps:
      - uses: actions/checkout@v2.3.1 # https://github.com/marketplace/actions/checkout
      - run: dotnet build

  test:
    # needs: build
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.1
      - run: dotnet test -p:CollectCoverage=true
      
  analyze:
    needs: [build, test]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.1
      - run: dotnet tool install --global dotnet-sonarscanner
      - run: |
        dotnet sonarscanner begin -o:'dkdawkins' -k:'dkdawkins_training-code-4_2' -d:sonar.login='894cc880fc91cce59a8453853d145f6aed23de5b'
        dotnet build
        dotnet test -p:CollectCoverage=true
        dotnet sonarscanner end -d:sonar.login='894cc880fc91cce59a8453853d145f6aed23de5b'
  # package:
  # deploy:

name: cibuild # this can be whatever we want; often cibuild

on: push

# person: #object
#   firstName: 'string' #string
#   lastName: 100 #number
#   middleName: true
#   alias:  #collection
#     - 'dotnet'
#     - 'lead'
#     - subAlias: #don't do this